@{
    ViewData["Title"] = "Editar";
}

<h2>Rellene los datos del producto que desea editar</h2>
<form method="post">
<!-- Default input -->
  <!-- Grid row -->
  <div class="form-row">
    <!-- Default input -->
    <div class="form-group col-md-6">
      <label for="inputPrecio">Precio</label>
      <input type="text" name="tmpPrecio" class="form-control" id="txtPrecio" placeholder="$">
    </div>
    <!-- Default input -->
    <div class="form-group col-md-6">
      <label for="inputColor">Color</label>
      <input type="text" name="tmpColor" class="form-control" id="txtColor" placeholder="Ingrese el color del producto">
    </div>
  </div>
  <!-- Grid row -->

  <!-- Grid row -->
  <div class="form-row">
    <!-- Default input -->
    <div class="form-group col-md-6">
      <label for="inputTalla">Talla</label>
      <input type="text" name="tmpTalla" class="form-control" id="txtTalla" placeholder="Ingrese la talla del producto">
    </div>
    <!-- Default input -->
    <div class="form-group col-md-6">
      <label for="inputUnidadesDisponibles">Unidades Disponibles</label>
      <input type="text" class="form-control" name="tmpUnidades" id="txtUnidades" placeholder="Ingrese las unidades disponibles">
    </div>
  </div>
  <!-- Grid row -->
  <!-- Default input IMAGEN-->
  <div class="form-group">
    <label for="inputImagen">Imagen</label>
    <input type="text" name="tmpImagen" class="form-control" id="txtImagen" placeholder="Ingrese el link de la imagen">
  </div>
  <button type="submit" class="btn btn-primary btn-md">ENVIAR INFORMACIÓN</button>
</form>
<!-- Extended default form grid -->