@{
    ViewData["Title"] = "Inicio";
    
}
<!-- MDB icon -->
  <link rel="icon" href="img/mdb-favicon.ico" type="image/x-icon">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <!-- Google Fonts Roboto -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <!-- Your custom styles (optional) -->
  <link rel="stylesheet" href="css/style.css">
  
<div style="position: absolute; left: 240px; top: 260px; height: 400px; width: 100px; padding: 1em;"><img src="https://i.ibb.co/ssCWWTq/Imagen-Store.jpg" BORDER=2 class="rounded z-depth-1"></div>
<div style="position: absolute; left: 970px; top: 380px; height: 0px; width: 680px; padding: 1em;"> 
<h3>Somos una comunidad que tiene el propósito de cambiar estereotipos anticuados,
    hacer algo positivo por el mundo transmitiendo un mensaje mediante nuestros productos, una comunidad dedicada a disfrutar y respetar haciendo la mejor ropa del mundo.</h3></div>

<div style="position: absolute; left: 970px; top: 770px; height: 650px; width: 200px; padding: 1em;"><img src="https://i.ibb.co/xg1byZs/Imagen1.jpg" BORDER=2 class="rounded z-depth-1"></div>
<div style="position: absolute; left: 240px; top: 770px; height: 700px; width: 200px; padding: 1em;"><img src="https://i.ibb.co/6DqLGzF/pexels-mnz-1670770.jpg" BORDER=2 class="rounded z-depth-1"></div>
<div style="position: absolute; left: 240px; top: 1350px; height: 0px; width: 680px; padding: 1em;"> 
<h3>Nuestros productos están hechos por amas de casa, por ende, son realizados con todo el amor del mundo.</h3></div>
<div style="position: absolute; left: 240px; top: 1550px; height: 0px; width: 680px; padding: 1em;"> 
<h3 class="text-success" >"Ideado por jovenes para jovenes..."</h3></div>


<!-- Footer -->
<footer class="page-footer font-small mdb-color lighten-3 pt-4" style="position: absolute;  top: 2090px; height: 200px;">
<style>
    footer {
      background-color: #343a40;
      width: 100%;
      left: 0;
    }
    .text-poppy-red {
      color: #ef5350 !important;
    }
    .btn-poppy-red {
      background-color: #ef5350 !important;
    }
    .bg-poppy-red {
      background-color: #ef5350 !important;
    }
  </style>
  <!-- Footer Links -->
  <div class="text-center" style="background-color: #343a40; width: 100%; left: 0;">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Content -->
        <div  align="center"> <img src="https://i.ibb.co/KLVfbc2/LOGO-SECUNDARIO-REDUCIDO.png"></div>
        <h4 type="button" style="color: #ffffff;"> TRABAJA CON NOSOTROS</h4>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mb-4" style="color: #ffffff;">OPCIONES</h5>

        <ul class="list-unstyled">
          <li>
            <p>
              <a href="#!" style="color: #ffffff;">Proyectos</a>
            </p>
          </li>
          <li>
            <p>
              <a href="#!" style="color: #ffffff;">Colaboradores</a>
            </p>
          </li>
          <li>
            <p>
              <a href="#!" style="color: #ffffff;">Blog</a>
            </p>
          </li>
          <li>
            <p>
              <a href="#!" style="color: #ffffff;">Reconocimientos</a>
            </p>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Contact details -->
        <h5 class="font-weight-bold text-uppercase mb-4" style="color: #ffffff;">Dirección</h5>

        <ul class="list-unstyled">
          <li>
            <p style="color: #ffffff;">
              <i class="fas fa-home mr-3"></i> Pereira, Risaralda M1 Casa27</p>
          </li>
          <li>
            <p style="color: #ffffff;">
              <i class="fas fa-envelope mr-3"></i> LyBinfo@gmail.com</p>
          </li>
          <li>
            <p style="color: #ffffff;">
              <i class="fas fa-phone mr-3"></i> + 57 313 765 2029</p>
          </li>
          <li>
            <p style="color: #ffffff;">
              <i class="fas fa-print mr-3"></i> + 57 322 288 7762</p>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 text-center mx-auto my-4">

        <!-- Social buttons -->
        <h5 class="font-weight-bold text-uppercase mb-4" style="color: #ffffff;">Síguenos</h5>

        <!-- Facebook -->
        <a type="button" class="btn-floating btn-fb"  style="position: absolute;  top: 50px; left:0px height: 0px; color: #ffffff;">
          <i class="fab fa-facebook-f"></i>
        </a>
        <!-- Twitter -->
        <a type="button" class="btn-floating btn-tw" style="position: absolute;  top: 90px; left:0px height: 0px; color: #ffffff;">
          <i class="fab fa-twitter"></i>
        </a>
        <!-- Google +-->
        <a type="button" class="btn-floating btn-gplus" style="position: absolute;  top: 130px; left:0px height: 0px; color: #ffffff;">
          <i class="fab fa-google-plus-g"></i>
        </a>
        <!-- Dribbble -->
        <a type="button" class="btn-floating btn-dribbble" style="position: absolute;  top: 170px; left:0px height: 0px; color: #ffffff;">
         <i class="fas fa-coffee"></i>
          <i class="colombia flag"></i>
        </a>
        

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3" style="background-color: #343a40"><a style="color: #ffffff;">© 2020 Copyright:</a>
    <a href="https://www.google.com/search?q=deportes+tolima&rlz=1C1GCEA_enCO790CO790&oq=&aqs=chrome.7.35i39i362l8...8.1055823j0j7&sourceid=chrome&ie=UTF-8" style="color: #ffffff;"> L&B S.A.S</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->