<!DOCTYPE html>
<html lang="en">
@{
    ViewData["Title"] = "Nosotros";
}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Material Design Bootstrap</title>
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="css/mdb.min.css" rel="stylesheet">
  <!-- Your custom styles (optional) -->
  <link href="css/style.css" rel="stylesheet">
</head>

<body>

<div class="container my-3">


  <!--Section: Content-->
  <section class="team-section text-center dark-grey-text">

    <!-- Section heading -->
    <h1 class="font-weight-bold display-4">Nuestro asombroso equipo <i class="fas fa-user-friends" width="2.3em" height="2.3em"></i></h1>
    <!-- Section description -->
    <p class="text-muted w-responsive mx-auto mb-5">El equipo de L&B está integrado por personas
        creativas, ingeniosas y capaces de solucionar problemas hábilmente.
    </p>

    <!-- Grid row-->
    <div class="row text-center text-md-left">
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-6 col-md-12 mb-5 d-md-flex justify-content-between">
        <div class="avatar mb-md-0 mb-4 mx-4">
          <img src="https://i.ibb.co/L8skGW6/Diego250.jpg" class="rounded z-depth-1" alt="Sample avatar">
        </div>
        <div class="mx-4">
          <h4 class="font-weight-bold mb-3">Diego Lozano</h4>
          <h6 class="font-weight-bold grey-text mb-3">Desarrollador Back-End</h6>
          <p class="grey-text">Amante del tampico, el ukulele y los gaticos.</p>
          <!-- Facebook-->
          <a class="p-2 fa-lg fb-ic">
            <i class="fab fa-facebook-f"> </i>
          </a>
          <!-- Twitter -->
          <a class="p-2 fa-lg tw-ic">
            <i class="fab fa-twitter"> </i>
          </a>
          <!--Dribbble -->
          <a class="p-2 fa-lg dribbble-ic">
            <i class="fas fa-coffee"></i>
          </a>
        </div>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-6 col-md-12 mb-5 d-md-flex justify-content-between">
        <div class="avatar mb-md-0 mb-4 mx-4">
          <img src="https://i.ibb.co/6YyDc7G/Andres250.jpg" class="rounded z-depth-1" alt="Sample avatar">
        </div>
        <div class="mx-4">
          <h4 class="font-weight-bold mb-3">Andrés Bustos</h4>
          <h6 class="font-weight-bold grey-text mb-3">Desarrollador Front-End</h6>
          <p class="grey-text">
              Jugador profesional de LOL de día, programador de noche.
          </p>
          <!-- Facebook-->
          <a class="p-2 fa-lg fb-ic">
            <i class="fab fa-facebook-f"> </i>
          </a>
          <!--YouTube -->
          <a class="p-2 fa-lg yt-ic">
            <i class="fab fa-youtube"> </i>
          </a>
          <!--Instagram-->
          <a class="p-2 fa-lg ins-ic">
            <i class="fab fa-instagram"> </i>
          </a>
        </div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </section>
  <!--Section: Content-->


</div>









<!-- SCRIPTS -->
  <!-- JQuery -->
  <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="js/mdb.min.js"></script>
</body>
</html>